[Unit]
Description=Server for the Librum application

[Service]
WorkingDirectory=/var/lib/librum-server/srv
ExecStart=/var/lib/librum-server/srv/run.sh
User=librum-server
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=librum-server
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=LIBRUM_SELFHOSTED=true
Environment=AI_SELFHOSTED=false
EnvironmentFile=/etc/librum-server/librum-server.conf

[Install]
WantedBy=multi-user.target
